{{ ansible_managed | comment }}

server {
    listen       {{ vhost.listen_host | default('*') }}:{{ vhost.listen_port | default(8080) }} {{ listen_protocol| default('') }};

    server_name ${{ alias }}_server_name;

    server_tokens off;

    charset {{ vhost.charset | default(host_params.chartset) }};

    set $app_root "{{vhost.root}}";

    root $app_root;

{% for hader_name, header in vhost_headers_params.items() | default({}) %}
    add_header  {{ hader_name | title }} "{{ header.value }}" {% if header.always is defined and header.always -%} always {%- endif -%};
{% endfor %}

    location ^~ /{{ vhost.status_path | default(host_params.status_path) }} {
        status;
        allow 127.0.0.1;
        deny all;
    }

    location / {
        root $app_root;
        index  index.html;
        try_files $uri $uri/ /$uri?$args;
    }

{% for include_path in include_params + vhost.include_params | default([]) %}
    include {{include_path}};
{% endfor %}

}